
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto-regular', sans-serif;
    font-family: 'Roboto-medium', sans-serif;
}

/*container*/

.container{
    width: 100%;
    max-width: 1232px;
    margin: 0 auto;
}

/*h2 title*/

.title{
    font-size: 40px;
    font-weight: 500;
    color: #000000;
    text-align: center;
    margin-top: 120px;
}

.title::after{
    content: "";
    display: block;
    width: 100px;
    height: 4px;
    background-color:  #F5BD41;
    margin: 20px auto 84px auto;
}

/*wrap*/

.wrap{
    display: flex;
    justify-content: space-between;
    align-items: flex-end ;


}

.img{
    display: block;
    margin:0 auto;
}

.descr{
    font-size: 24px;
    font-weight: 400;
    color: #000000;
    margin-top: 52px;
}

/*footer*/

.footer{
    width: 100%;
    height: 630px;
    background-color: #10367C;
    margin-top: 120px;

}

.footer__link{
    display: flex;
    padding-top: 120px;
    line-height: 2em;
}

.block1__link{
    width: 193px;
    height: 211px;
    margin-right: 223px;

}

.title__link{
    font-weight: 500;
    font-size: 20px;
    color: #FFFFFF;
}

.link__item{
    display: block;
    flex-direction: column;
    text-decoration: none;
    font-size: 20px;
    font-weight: 400;
    line-height: 2.3em;
    color: #FFFFFF;
    transition: .3s ease;
}

.link__item:hover{
    opacity: .4;
}

.block2__link{
    width: 133px;
    height: 310px;
    margin-right: 284px;
}

.copyright{
    font-size: 14px;
    color: #FFFFFF;
    margin-top: 64px;
}

