* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif; }

/* contziner */
.container {
  width: 100%;
  max-width: 1230px;
  margin: 0 auto; }

header {
  height: 108px; }
  header .header-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px 0;
    border-bottom: 1px solid  #3D3B3C; }
    header .header-nav a {
      font-size: 24px;
      line-height: 28px;
      color: #3D3B3C;
      text-decoration: none; }
      header .header-nav a:hover {
        text-decoration: line-through;
        color: #120D0E;
        transition: all .3s linear;
        -webkit-transition: all .3s linear;
        -moz-transition: all .3s linear;
        -ms-transition: all .3s linear;
        -o-transition: all .3s linear; }

/* about */
.about-inner {
  display: flex;
  justify-content: space-between;
  margin-top: 70px;
  padding-bottom: 72px; }
  .about-inner .abot-img {
    width: 40%;
    object-fit: cover; }

.about-text__about-button {
  width: 50%; }
  .about-text__about-button h1 {
    font-size: 56px;
    font-weight: 500;
    line-height: 66px;
    color: #120D0E; }
  .about-text__about-button h2 {
    margin: 8px 0 40px 0;
    font-weight: 500;
    font-size: 56px;
    line-height: 66px;
    color: #BEBEBE;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); }
  .about-text__about-button p {
    font-size: 22px;
    line-height: 26px;
    color: #3D3B3C; }

.button-inner button {
  margin-top: 72px;
  width: 30%;
  height: 56px;
  margin-right: 24px;
  background-color: #10367C;
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  color: #FFFFFF;
  border: none;
  cursor: pointer; }
  .button-inner button:last-child {
    margin-right: 0; }

/* skills */
.skills-wrap {
  margin-top: 72px; }
  .skills-wrap .skills-title {
    font-size: 56px;
    font-weight: 500;
    line-height: 66px;
    color: #120D0E;
    text-align: center;
    margin-bottom: 56px; }
  .skills-wrap .skills-inner details summary {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative; }
    .skills-wrap .skills-inner details summary::-webkit-details-marker {
      display: none; }
    .skills-wrap .skills-inner details summary::before {
      display: block;
      content: "\f106";
      position: absolute;
      bottom: 0;
      left: 50%;
      right: 50%;
      transform: translate(-50% -50%);
      -webkit-transform: translate(-50% -50%);
      -moz-transform: translate(-50% -50%);
      -ms-transform: translate(-50% -50%);
      -o-transform: translate(-50% -50%); }
    .skills-wrap .skills-inner details summary .skill-html .html-logo {
      display: block;
      margin: 0 auto 18px auto; }
    .skills-wrap .skills-inner details summary .skill-html p {
      font-size: 14px;
      line-height: 16px;
      text-align: center;
      color: #120D0E;
      margin-bottom: 50px; }
    .skills-wrap .skills-inner details summary .skill-css .css-logo {
      display: block;
      margin: 0 auto 18px auto; }
    .skills-wrap .skills-inner details summary .skill-css p {
      font-size: 14px;
      line-height: 16px;
      text-align: center;
      color: #120D0E;
      margin-bottom: 50px; }
    .skills-wrap .skills-inner details summary .skill-sass .sass-logo {
      display: block;
      margin: 0 auto 43px auto; }
    .skills-wrap .skills-inner details summary .skill-sass p {
      font-size: 14px;
      line-height: 16px;
      text-align: center;
      color: #120D0E;
      margin-bottom: 50px; }
    .skills-wrap .skills-inner details summary .skill-git .git-logo {
      display: block;
      margin: 0 auto 59px auto; }
    .skills-wrap .skills-inner details summary .skill-git p {
      font-size: 14px;
      line-height: 16px;
      text-align: center;
      color: #120D0E;
      margin-bottom: 51px; }
  .skills-wrap .skills-inner details .other-skill {
    display: flex;
    justify-content: space-between;
    align-items: center; }

/* Works */
.work-title {
  font-size: 56px;
  font-weight: 500;
  line-height: 66px;
  color: #120D0E;
  text-align: center;
  /* margin-top: 144px; */ }
  .work-title::after {
    content: "";
    display: block;
    width: 1px;
    height: 637px;
    background-color: #3D3B3C;
    margin: 56px auto 0 auto; }

.work-content {
  height: 903px;
  position: relative; }

.first-work {
  display: flex;
  align-items: center;
  position: absolute;
  bottom: 194px;
  left: 49.5%; }
  .first-work .work-date p {
    font-size: 24px;
    line-height: 28px;
    color: #BEBEBE;
    margin-right: 30px;
    cursor: pointer; }
    .first-work .work-date p::before {
      content: "";
      display: inline-block;
      width: 12px;
      height: 12px;
      background-color: #BEBEBE;
      margin-right: 16px;
      border-radius: 50%;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      -ms-border-radius: 50%;
      -o-border-radius: 50%; }
    .first-work .work-date p:hover {
      color: #120D0E; }
    .first-work .work-date p:hover::before {
      background-color: #120D0E; }
  .first-work .work-place .work-company {
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    color: #120D0E;
    margin-bottom: 4px; }
  .first-work .work-place .work-position {
    font-size: 24px;
    line-height: 28px;
    color: #120D0E;
    margin-bottom: 8px; }
  .first-work .work-place .work-descr {
    width: 335px;
    font-size: 16px;
    line-height: 19px;
    color: #BEBEBE; }

.second-work {
  display: flex;
  align-items: center;
  position: absolute;
  bottom: 382px;
  right: 47%; }
  .second-work .work-place .work-company {
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    color: #120D0E;
    margin-bottom: 4px; }
  .second-work .work-place .work-position {
    font-size: 24px;
    line-height: 28px;
    color: #120D0E;
    margin-bottom: 8px; }
  .second-work .work-place .work-descr {
    width: 335px;
    font-size: 16px;
    line-height: 19px;
    color: #BEBEBE; }
  .second-work .work-date p {
    font-size: 24px;
    line-height: 28px;
    color: #BEBEBE;
    margin-right: 30px;
    cursor: pointer; }
    .second-work .work-date p::after {
      content: "";
      display: inline-block;
      width: 12px;
      height: 12px;
      background-color: #BEBEBE;
      margin-left: 16px;
      border-radius: 50%;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      -ms-border-radius: 50%;
      -o-border-radius: 50%; }
    .second-work .work-date p:hover {
      color: #120D0E; }
    .second-work .work-date p:hover::after {
      background-color: #120D0E; }

.third-work {
  display: flex;
  align-items: center;
  position: absolute;
  bottom: 575px;
  left: 49.5%; }
  .third-work .work-date p {
    font-size: 24px;
    line-height: 28px;
    color: #BEBEBE;
    margin-right: 30px;
    cursor: pointer; }
    .third-work .work-date p::before {
      content: "";
      display: inline-block;
      width: 12px;
      height: 12px;
      background-color: #BEBEBE;
      margin-right: 16px;
      border-radius: 50%;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      -ms-border-radius: 50%;
      -o-border-radius: 50%; }
    .third-work .work-date p:hover {
      color: #120D0E; }
    .third-work .work-date p:hover::before {
      background-color: #120D0E; }
  .third-work .work-place .work-company {
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    color: #120D0E;
    margin-bottom: 4px; }
  .third-work .work-place .work-position {
    font-size: 24px;
    line-height: 28px;
    color: #120D0E;
    margin-bottom: 8px; }
  .third-work .work-place .work-descr {
    width: 335px;
    font-size: 16px;
    line-height: 19px;
    color: #BEBEBE; }

/* Projects */
.projects-wrap {
  background-color: #FAFAFA;
  margin: 72px 0;
  height: 716px; }
  .projects-wrap .projects-title {
    font-size: 56px;
    font-weight: 500;
    line-height: 66px;
    color: #120D0E;
    text-align: center;
    padding-top: 72px; }

.projects-content {
  display: flex;
  align-items: center;
  margin-top: 56px; }
  .projects-content .porjects-img {
    margin-right: 130px; }
  .projects-content .projects-inner .cite-title {
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    color: #120D0E;
    margin-bottom: 8px; }
  .projects-content .projects-inner .cite-descr {
    font-size: 24px;
    line-height: 28px;
    color: #BEBEBE;
    margin-bottom: 72px; }
  .projects-content .projects-inner .projects-btn {
    padding: 14px 17px;
    background: #10367C;
    border: none;
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    color: #FFFFFF; }

.next-projects {
  border: none;
  background: none;
  text-decoration: underline;
  font-size: 16px;
  line-height: 19px;
  color: #3A4576;
  position: absolute; }

/* Education */
.education-wrap {
  height: 903px;
  position: relative; }

.education-title {
  font-size: 56px;
  font-weight: 500;
  line-height: 66px;
  color: #120D0E;
  text-align: center;
  margin-top: 72px; }
  .education-title::after {
    content: "";
    display: block;
    width: 1px;
    height: 637px;
    background-color: #3D3B3C;
    margin: 56px auto 0 auto; }

.first-education {
  display: flex;
  align-items: center;
  position: absolute;
  bottom: 294px;
  left: 49.5%; }
  .first-education .education-date p {
    font-size: 24px;
    line-height: 28px;
    color: #BEBEBE;
    margin-right: 30px;
    cursor: pointer; }
    .first-education .education-date p::before {
      content: "";
      display: inline-block;
      width: 12px;
      height: 12px;
      background-color: #BEBEBE;
      margin-right: 16px;
      border-radius: 50%;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      -ms-border-radius: 50%;
      -o-border-radius: 50%; }
  .first-education .education-place .education-name {
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    color: #120D0E;
    margin-bottom: 4px; }
  .first-education .education-place .education-specialty {
    font-size: 24px;
    line-height: 28px;
    color: #120D0E;
    margin-bottom: 8px; }

.second-education {
  display: flex;
  align-items: center;
  position: absolute;
  bottom: 582px;
  right: 49.5%; }
  .second-education .education-place .education-name {
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    color: #120D0E;
    margin-bottom: 4px; }
  .second-education .education-place .education-specialty {
    font-size: 24px;
    line-height: 28px;
    color: #120D0E;
    margin-bottom: 8px; }
  .second-education .education-date p {
    font-size: 24px;
    line-height: 28px;
    color: #BEBEBE;
    margin-left: 30px;
    cursor: pointer; }
    .second-education .education-date p::after {
      content: "";
      display: inline-block;
      width: 12px;
      height: 12px;
      background-color: #BEBEBE;
      margin-left: 16px;
      border-radius: 50%;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      -ms-border-radius: 50%;
      -o-border-radius: 50%; }

/* lang */
.lang-wrap {
  background-color: #FAFAFA;
  margin: 72px 0;
  height: 536px; }
  .lang-wrap .lang-title {
    font-size: 56px;
    font-weight: 500;
    line-height: 66px;
    color: #120D0E;
    text-align: center;
    padding-top: 72px; }

.lang-inner {
  display: flex;
  justify-content: center;
  margin-top: 56px; }
  .lang-inner .rus {
    margin-right: 235px; }
    .lang-inner .rus h3 {
      font-weight: 500;
      font-size: 24px;
      line-height: 28px;
      color: #120D0E;
      text-align: center;
      margin: 24px 0 8px 0; }
    .lang-inner .rus p {
      font-size: 24px;
      line-height: 28px;
      color: #120D0E;
      text-align: center; }
  .lang-inner .eng h3 {
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    color: #120D0E;
    text-align: center;
    margin: 24px 0 8px 0; }
  .lang-inner .eng p {
    font-size: 24px;
    line-height: 28px;
    color: #120D0E;
    text-align: center; }

/* Contact */
.contact-title {
  font-size: 56px;
  font-weight: 500;
  line-height: 66px;
  color: #120D0E;
  text-align: center; }

.contact-inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 56px;
  margin-bottom: 72px; }
  .contact-inner .contact-img {
    width: 412px;
    height: 412px;
    object-fit: cover;
    background-size: auto 412px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%; }

.contact-me .contact-social {
  display: flex; }
  .contact-me .contact-social a {
    width: 56px;
    height: 56px;
    margin-right: 17px;
    cursor: pointer; }
    .contact-me .contact-social a:last-child {
      margin-right: 0; }
.contact-me .contact-email__contact-tel {
  margin-top: 104px;
  display: flex;
  flex-direction: column; }
  .contact-me .contact-email__contact-tel a {
    font-size: 24px;
    line-height: 28px;
    text-decoration: underline;
    color: #000000;
    cursor: pointer;
    margin-bottom: 20px; }
    .contact-me .contact-email__contact-tel a:last-child {
      margin-bottom: 0px;
      text-decoration: none; }

/*# sourceMappingURL=style.css.map */
