$button_color: #10367C;
$text_color: #120D0E;
$Text_color-Secondary: #3D3B3C;
$Secondary_text: #BEBEBE;
$bg_color: #FFFFFF;
@mixin fontTitle {
    font-size: 56px;
    font-weight: 500;
    line-height: 66px;
    color:$text_color;
}

@mixin workEducationTile {
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    color: $text_color;
    margin-bottom: 4px;
}

@mixin workEducationSubtitle {
    font-size: 24px;
    line-height: 28px;
    color: $text_color;
    margin-bottom: 8px;
}

@mixin workEducationTitleAfter {
    content: "";
    display: block;
    width: 1px;
    height: 637px;
    background-color: #3D3B3C;
    margin: 56px auto 0 auto;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

/* contziner */

.container{
    width: 100%;
    max-width: 1230px;
    margin: 0 auto;
}

header{
    height: 108px;
    .header-nav{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 40px 0;
        border-bottom: 1px solid  #3D3B3C;
        a{
            font-size: 24px;
            line-height: 28px;
            color: $Text_color-Secondary;
            text-decoration: none;
            &:hover{
                text-decoration: line-through;
                color: $text_color;
                transition: all .3s linear;
                -webkit-transition: all .3s linear;
                -moz-transition: all .3s linear;
                -ms-transition: all .3s linear;
                -o-transition: all .3s linear;
            }
        }
    }
            
}
/* about */

.about-inner{
    display: flex;
    justify-content: space-between;
    margin-top: 70px;
    padding-bottom: 72px;
    .abot-img{
        width: 40%;
        object-fit: cover;
    }
}

.about-text__about-button{
    width: 50%;
    h1{
        @include fontTitle;
    }

    h2{
        margin: 8px 0 40px 0;
        font-weight: 500;
        font-size: 56px;
        line-height: 66px;
        color: $Secondary_text;
        text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    }

    p{
        font-size: 22px;
        line-height: 26px;
        color: $Text_color-Secondary;
    }
}

.button-inner{
    button{
        margin-top: 72px;
        width: 30%;
        height: 56px;
        margin-right: 24px;
        background-color: $button_color;
        font-weight: 500;
        font-size: 24px;
        line-height: 28px;
        color: #FFFFFF;
        border: none;
        cursor: pointer;
        &:last-child{
            margin-right: 0;
        }
    }
}

/* skills */
.skills-wrap{
    margin-top: 72px;
    .skills-title{
        @include fontTitle();
        text-align: center;
        margin-bottom: 56px;
    }
    .skills-inner{  
        details{  
            summary{
                display: flex;
                justify-content: space-between;
                align-items: center; 
                position: relative;
                &::-webkit-details-marker{
                    display: none
                }
                &::before{
                    display: block;
                    content: "\f106";
                    position: absolute;
                    bottom: 0;
                    left: 50%;
                    right: 50%;
                    transform: translate(-50% -50%);
                    -webkit-transform: translate(-50% -50%);
                    -moz-transform: translate(-50% -50%);
                    -ms-transform: translate(-50% -50%);
                    -o-transform: translate(-50% -50%);
                }
                .skill-html{
                    .html-logo{
                        display: block;
                        margin: 0 auto 18px auto;
                    }
                    p{
                        font-size: 14px;
                        line-height: 16px;
                        text-align: center;
                        color: $text_color;
                        margin-bottom: 50px;
                    }
                }
                .skill-css{
                    .css-logo{
                        display: block;
                        margin: 0 auto 18px auto;
                    }
                    p{
                        font-size: 14px;
                        line-height: 16px;
                        text-align: center;
                        color: $text_color;
                        margin-bottom: 50px;
                    }
                }
                .skill-sass{
                   .sass-logo{
                        display: block;
                        margin: 0 auto 43px auto;
                   }
                   p{
                        font-size: 14px;
                        line-height: 16px;
                        text-align: center;
                        color: $text_color;
                        margin-bottom: 50px;
                    }
                }
                .skill-git{
                    .git-logo{
                        display: block;
                        margin: 0 auto 59px auto;
                    }
                    p{
                        font-size: 14px;
                        line-height: 16px;
                        text-align: center;
                        color: $text_color;
                        margin-bottom: 51px;
                    }
                }
            }
            .other-skill{
                display: flex;
                justify-content: space-between;
                align-items: center;  
            }
        }   
    }
}


/* Works */

.work-title{
    @include fontTitle();
    text-align: center;
    /* margin-top: 144px; */
    &::after{
        @include workEducationTitleAfter();
    }
}


.work-content{
    height: 903px;
    position: relative;
}

.first-work{
    display: flex;
    align-items: center;
    position: absolute;
    bottom: 194px;
    left: 49.5%;
    .work-date{
        p{
            font-size: 24px;
            line-height: 28px;
            color: $Secondary_text;
            margin-right: 30px;
            cursor: pointer;
            &::before{
                content: "";
                display: inline-block;
                width: 12px;
                height: 12px;
                background-color: $Secondary_text;
                margin-right: 16px;
                border-radius: 50%;
                -webkit-border-radius: 50%;
                -moz-border-radius: 50%;
                -ms-border-radius: 50%;
                -o-border-radius: 50%;
            }
            &:hover{
                color: $text_color;
            }
            &:hover::before{
                background-color: $text_color;
            }
        }
    }
    .work-place{
        .work-company{
            @include workEducationTile();
        }
        .work-position{
            @include workEducationSubtitle();
        }
        .work-descr{
            width: 335px;
            font-size: 16px;
            line-height: 19px;
            color:$Secondary_text;
        }
    }
    
}

.second-work{
    display: flex;
    align-items: center;
    position: absolute;
    bottom: 382px;
    right: 47%;
    .work-place{
        .work-company{
            @include workEducationTile();
        }
        .work-position{
            @include workEducationSubtitle();
        }
        .work-descr{
            width: 335px;
            font-size: 16px;
            line-height: 19px;
            color:$Secondary_text;
        }
    }
    .work-date{
        p{
            font-size: 24px;
            line-height: 28px;
            color: $Secondary_text;
            margin-right: 30px;
            cursor: pointer;
            &::after{
                content: "";
                display: inline-block;
                width: 12px;
                height: 12px;
                background-color: $Secondary_text;
                margin-left: 16px;
                border-radius: 50%;
                -webkit-border-radius: 50%;
                -moz-border-radius: 50%;
                -ms-border-radius: 50%;
                -o-border-radius: 50%;
            }
            &:hover{
                color: $text_color;
            }
            &:hover::after{
                background-color: $text_color;
            }
        }
    }
}

.third-work{
    display: flex;
    align-items: center;
    position: absolute;
    bottom: 575px;
    left: 49.5%;
    .work-date{
        p{
            font-size: 24px;
            line-height: 28px;
            color: $Secondary_text;
            margin-right: 30px;
            cursor: pointer;
            &::before{
                content: "";
                display: inline-block;
                width: 12px;
                height: 12px;
                background-color: $Secondary_text;
                margin-right: 16px;
                border-radius: 50%;
                -webkit-border-radius: 50%;
                -moz-border-radius: 50%;
                -ms-border-radius: 50%;
                -o-border-radius: 50%;
            }
            &:hover{
                color: $text_color;
            }
            &:hover::before{
                background-color: $text_color;
            }
        }
    }
    .work-place{
        .work-company{
            @include workEducationTile();
        }
        .work-position{
            @include workEducationSubtitle();
        }
        .work-descr{
            width: 335px;
            font-size: 16px;
            line-height: 19px;
            color:$Secondary_text;
        }
    }
    
}

/* Projects */

.projects-wrap{
    background-color: #FAFAFA;
    margin: 72px 0;
    height: 716px;
    .projects-title{
        @include fontTitle;
        text-align: center;
        padding-top: 72px;
    }
}

.projects-content{
    display: flex;
    align-items: center;
    margin-top: 56px;
    .porjects-img{
        margin-right: 130px;
    }
    .projects-inner{
        .cite-title{
            font-weight: 500;
            font-size: 24px;
            line-height: 28px;
            color: $text_color;
            margin-bottom: 8px;
        }
        .cite-descr{
            font-size: 24px;
            line-height: 28px;
            color: $Secondary_text;
            margin-bottom: 72px;
        }
        .projects-btn{
            padding: 14px 17px;
            background: $button_color;
            border: none;
            font-weight: 500;
            font-size: 24px;
            line-height: 28px;
            color: #FFFFFF;
        }
    }
}

.next-projects{
    border: none;
    background: none;
    text-decoration: underline;
    font-size: 16px;
    line-height: 19px;
    color: #3A4576;
    position: absolute;
}



/* Education */

.education-wrap{
    height: 903px;
    position: relative;
}

.education-title{
    @include fontTitle();
    text-align: center;
    margin-top: 72px;
    &::after{
        @include workEducationTitleAfter();
    }
}

.first-education{
    display: flex;
    align-items: center;
    position: absolute;
    bottom: 294px;
    left: 49.5%;
    .education-date{
        p{
            font-size: 24px;
            line-height: 28px;
            color: $Secondary_text;
            margin-right: 30px;
            cursor: pointer;
            &::before{
                content: "";
                display: inline-block;
                width: 12px;
                height: 12px;
                background-color: $Secondary_text;
                margin-right: 16px;
                border-radius: 50%;
                -webkit-border-radius: 50%;
                -moz-border-radius: 50%;
                -ms-border-radius: 50%;
                -o-border-radius: 50%;
            }
        }
    }
    .education-place{
        .education-name{
            @include workEducationTile();
        }
        .education-specialty{
            @include workEducationSubtitle();
        }
    }
}

.second-education{
    display: flex;
    align-items: center;
    position: absolute;
    bottom: 582px;
    right: 49.5%;
    .education-place{
        .education-name{
            @include workEducationTile();
        }
        .education-specialty{
            @include workEducationSubtitle();
        }
    }
    .education-date{
        p{
            font-size: 24px;
            line-height: 28px;
            color: $Secondary_text;
            margin-left: 30px;
            cursor: pointer;
            &::after{
                content: "";
                display: inline-block;
                width: 12px;
                height: 12px;
                background-color: $Secondary_text;
                margin-left: 16px;
                border-radius: 50%;
                -webkit-border-radius: 50%;
                -moz-border-radius: 50%;
                -ms-border-radius: 50%;
                -o-border-radius: 50%;
            }
        }
    }
}

/* lang */

.lang-wrap{
    background-color: #FAFAFA;
    margin: 72px 0;
    height: 536px;
    .lang-title{
        @include fontTitle;
        text-align: center;
        padding-top: 72px;
    }
}

.lang-inner{
    display: flex;
    justify-content: center;
    margin-top: 56px;
    .rus{
        margin-right: 235px;
        h3{
            font-weight: 500;
            font-size: 24px;
            line-height: 28px;
            color: $text_color;
            text-align: center;
            margin: 24px 0 8px 0;
        }
        p{
            font-size: 24px;
            line-height: 28px;
            color: $text_color;
            text-align: center;
        }
    }
    .eng{
        h3{
            font-weight: 500;
            font-size: 24px;
            line-height: 28px;
            color: $text_color;
            text-align: center;
            margin: 24px 0 8px 0;
        }
        p{
            font-size: 24px;
            line-height: 28px;
            color: $text_color;
            text-align: center;
        }
    }
}

/* Contact */

.contact-title{
    @include fontTitle;
    text-align: center;
}

.contact-inner{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 56px;
    margin-bottom: 72px;
    .contact-img{
        width: 412px;
        height: 412px;
        object-fit: cover;
        background-size: auto 412px;
        border-radius: 50%;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        -ms-border-radius: 50%;
        -o-border-radius: 50%;
    }
}

.contact-me{
    .contact-social{
        display: flex;
        a{
            width: 56px;
            height: 56px;
            margin-right: 17px;
            cursor: pointer;
            &:last-child{
                margin-right: 0;
            }
        }
    }
    .contact-email__contact-tel{
        margin-top: 104px;
        display: flex;
        flex-direction: column;
        a{
            font-size: 24px;
            line-height: 28px;
            text-decoration: underline;
            color: #000000;
            cursor: pointer;
            margin-bottom: 20px;
            &:last-child{
                margin-bottom: 0px;
                text-decoration: none;
            }
        }
    }
}


